html, body {
  height: 100%;
}

body {
  background-image: url('../../../public/images/background.jpeg');
  background-size: 110% auto; 
  background-repeat: no-repeat;
  background-position: center top;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
