.resultpage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
    margin: auto;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    border: 0px solid #ffffff76;
    width: 50%;
  }
  
.resultpage-title {
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    font-size: 18px;
    white-space: nowrap;
    text-align: center;
}

.results-page-container {
    text-align: center;
    margin-top: 100;
}

.results-page-home {
    position: fixed;
    top: 5px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
    z-index: 999; /* Ensure it's above other elements */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    width: 40px; /* Adjust the width as needed */
}

.scroll-container {
    max-height: 800px; /* Adjust the height as needed */
    overflow-y: auto;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* margin-bottom: 800px; */
    padding: 10px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    gap: 12px;
}

.result-button {
    height: auto;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.submit-button {
    padding: 20px 20px;
    font-size: 20px;
    color: #ffffff;
    background-color: #2a2a2a48;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 0.5px solid #ffa500;
    width: 100%;
  }
  
  .submit-button:hover {
    background-color: #11111179;
  }
  
