.result-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto; 
    justify-content: center;
    width: 50%;
    padding-top: 7%;  
  }
  
  .resultpage-title {
    margin-left: 0%;
    margin-bottom: 32px;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    font-size: 132%;
    white-space: nowrap;
    text-align: left;
  }
  
  .results-page-container {
    display: flex;
  }
  
  .image-container,
  .story-container {
    flex: 1;
    padding: 10px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .submit-button {
    margin: 5px;
  }
  
  .nav-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
  }
  