.result-page,
.nav-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 800px;
  padding: 10px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.results-page-container {
  text-align: center;
  margin-top: 100;
}

.results-page-home {
  position: fixed;
  top: 5px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  z-index: 999; /* Ensure it's above other elements */
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  width: 40px; /* Adjust the width as needed */
}

.home-icon {
  width: 40px;
  height: auto;
  border-radius: 5px;
}

.scroll-container {
  max-height: 800px; /* Adjust the height as needed */
  overflow-y: auto;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  /* margin-bottom: 800px; */
  padding: 10px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  gap: 12px;
}

.result-button {
  height: auto;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}