.story {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
  }

.story-image {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 7px;
}

.story::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  z-index: -1;
}
