.form-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.form-label {
    display: flex;
    font-family: Helvetica, sans-serif;
    font-size: 100%;
    color: #ffffff;
    margin-bottom: 0px;
    margin-right: 0px;
    white-space: nowrap;
}

.form-label-container {
    width: 220px;
    border-radius: 4px;
}

.custom-select-container {
        flex: 1 1 auto !important;
        width: 100%;
}

.react-select__control {
    background-color: #ffffff !important;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: centre !important;
    padding: 5px !important;
}
  
.react-select__value-container {
    flex: 1 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
  
.react-select__single-value {
    color: #e22323 !important;
    font-size: 16px !important;
}
  
.react-select__indicator-separator {
    display: none !important;
}
  
.react-select__indicator {
    color: #ce0000 !important;
}
  
.react-select__menu {
    background-color: #ff3737 !important;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    margin-top: 4px !important;
}
  
.react-select__option {
    color: #080b14 !important;
    cursor: pointer !important;
    font-size: 20px !important;
    padding: 8px 12px !important;
}
  
.react-select__option:hover {
    background-color: #067e12 !important;
}
  
.react-select__option--is-selected {
    background-color: #074620 !important;
    color: #220505 !important;
}


  

  