.form-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.form-label {
    display: flex;
    padding-top: 10px;
    width: 32%;
    font-family: Helvetica, sans-serif;
    font-size: 100%;
    color: #ffffff;
    margin-bottom: 0px;
    margin-right: 0px;
    white-space: nowrap;
}

.form-label-container {
    width: 100%;
    border-radius: 4px;
}

.css-b62m3t-container {
    flex: 1 1 auto !important;
    width: 68% !important;
}

.react-select__control {
    background-color: #ffffff !important;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: centre !important;
    padding: 4px !important;
}
  
.react-select__value-container {
    flex: 1 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
  
.react-select__single-value {
    color: #000000 !important;
    font-size: 18px !important;
}
  
.react-select__indicator-separator {
    display: none !important;
}
  
.react-select__indicator {
    color: #717171 !important;
}
  
.react-select__menu {
    background-color: #ffffff !important;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    margin-top: 4px !important;
}
  
.react-select__option {
    color: #1c1c1c !important;
    cursor: pointer !important;
    font-size: 18px !important;
    padding: 8px 12px !important;
}
  
.react-select__option:hover {
    background-color: #ffa500 !important;
}
  
.react-select__option--is-selected {
    background-color: #9d9d9d !important;
    color: #4a4a4a !important;
}


  

  