.formcontainer {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 50%;
}

.form-label-container {
    width: 50px;
    padding: 10px;
    border-radius: 4px;
}

.formcontainer-container {
    display: flec;
    width: 100%;
    margin-top: 100px;
    padding: 10px;
}

.formcontainer-title {
    padding: 10px;
    border-radius: 5px;
    /* background-color: #2a2a2a48; */
    color: white;
    font-weight: normal;
    font-size: 18px;
    margin: 0px;
    white-space: nowrap;
    text-align: center;
}

.submit-button {
    padding: 20px 20px;
    font-size: 20px;
    color: #ffffff;
    background-color: #2a2a2a48;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 0.5px solid #ffa500;
    width: 100%;
}

.submit-button:hover {
    background-color: #11111179;
}

@keyframes fadeOut {
    0% {
      opacity: 1;
    }

    90% {
        opacity: 1;
      }

    100% {
      opacity: 0;
    }
  }
  
.formcontainer-logo-gif {
    display: flex;
    align-items: center;
    animation: fadeOut 3s linear forwards;
  }
  
