.story-text-para {
    margin: 10px;
    width: 100%;
    height: auto;
    word-wrap: break-word;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
    border-radius: 4px;
    font-weight: normal;
    font-size: 70%;
    box-sizing: border-box;
    background: #f1f1f1;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.story-container {
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0; 
  }
  

